@page "/fs/folder/{Location?}"

@using FileSystem.Models
@using FileSystem.Data
@using MongoDB.Bson
@inject NavigationManager NavigationManager
@inject FileSystemService FileSystemService

<h3>@Disk://@Location</h3>
<button @onclick="GoBack">Go back</button>
@if (_files == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Size</th>
            <th>Created</th>
            <th>Last Edit</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var file in _files)
        {
            <tr>
                <td @onclick="@(e => ViewFile(file.Id.ToString()))" style="cursor: pointer">Open file</td>
                <td>@file.Name</td>
                <td>@file.Size</td>
                <td>@file.Created</td>
                <td>@file.LastEdit</td>
                <td @onclick="@(e => DeleteFile(file.Id))">Delete</td>
            </tr>
        }
        @foreach (var folder in _folders)
        {
            <tr>
                <td @onclick="@(e => ViewFolder(folder.Id.ToString()))" style="cursor: pointer">Open folder</td>
                <td>@folder.Name</td>
                <td>@folder.TotalSize</td>
                <td>@folder.Created</td>
                <td>@folder.LastEdit</td>
                <td @onclick="@(e => DeleteFolder(folder.Id))">Delete</td>
            </tr>
        }
        </tbody>
    </table>
    
    <select @bind=_newInsertType>
        <option value="folder">Folder</option>
        <option value="file">File</option>
    </select>
    @switch (_newInsertType)
    {
        case "folder":
            <input type="text" @bind="_newFolderName"/>
            <button @onclick="InsertFolder">Add @_newInsertType</button>
            break;
        case "file":
            <input type="text" @bind="_newFileName"/>
            <button @onclick="InsertFile">Add @_newInsertType</button>
            break;
    }

@code {
    [Parameter]
    public string Location { get; set; }
[Parameter]
    public string Disk { get; set; }

    private Folder _current;

    private string _newInsertType = "file";
    private string _newFileName;
    private string _newFolderName;
    
    private List<File> _files;
    private List<Folder> _folders;

    protected override async Task OnParametersSetAsync()
    {
        _current = FileSystemService.GetFolderById(new ObjectId(Location));
        _files = await FileSystemService.GetFilesAsync(new ObjectId(Location), FileSystemService.ParentType.Folder);
        _folders = await FileSystemService.GetFoldersAsync(new ObjectId(Location), FileSystemService.ParentType.Folder);
    }
    protected override async Task OnInitializedAsync()
    {
        _current = FileSystemService.GetFolderById(new ObjectId(Location));
        _files = await FileSystemService.GetFilesAsync(new ObjectId(Location), FileSystemService.ParentType.Folder);
        _folders = await FileSystemService.GetFoldersAsync(new ObjectId(Location), FileSystemService.ParentType.Folder);

    // _files = await FileSystemService.GetFilesAsync(FileSystemService.GetDisksAsync().Result.First(t => t.Name == Location).Id);
    }
    public async void InsertFile()
    {
        var newFile = new File
        {
            Content = "",
            Created = DateTime.Now,
            Id =  ObjectId.GenerateNewId(),
            LastEdit = DateTime.Now,
            Name = _newFileName,
            Parent = FileSystemService.GetFolderById(new ObjectId(Location)).Id,
            IsParentFolder = true
        };
        FileSystemService.AddFileToFolderList(new ObjectId(Location), newFile.Id);
        await FileSystemService.InsertFileAsync(newFile);
        _files.Add(newFile);
        StateHasChanged();
    }
    public async void InsertFolder()
    {
        var newFolder = new Folder
        {
            Created = DateTime.Now,
            Id =  ObjectId.GenerateNewId(),
            LastEdit = DateTime.Now,
            Name = _newFolderName,
            Parent = FileSystemService.GetFolderById(new ObjectId(Location)).Id,
            Files = new List<ObjectId>(),
            Subfolders = new List<ObjectId>(),
            TotalSize = 0,
            IsParentFolder = true
        };
        FileSystemService.AddFolderToFolderList(new ObjectId(Location), newFolder.Id);
        await FileSystemService.InsertFolderAsync(newFolder);
        _folders.Add(newFolder);
        StateHasChanged();
    }
    private void DeleteFolder(ObjectId id)
    {
        FileSystemService.Delete(id, FileSystemService.ParentType.Folder);
    }
    private void DeleteFile(ObjectId id)
    {
        FileSystemService.Delete(id, FileSystemService.ParentType.File);
    }
    void ViewFile(string fileId)
    {
        NavigationManager.NavigateTo($"fs/file/{fileId}");
    }
    void ViewFolder(string folderId)
    {
        NavigationManager.NavigateTo($"fs/folder/{folderId}");
    }
    void GoBack()
    {
        var parent = FileSystemService.GetFolderById(new ObjectId(Location));
        if(parent.IsParentFolder)
            NavigationManager.NavigateTo($"fs/folder/{parent.Parent.ToString()}");
        else
            NavigationManager.NavigateTo($"fs/disk/{parent.Parent.ToString()}");
    }

}}